@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	@media (max-width: 450px) {
		font-size: 13px;
	}
}

.App {
	background-color: $primary-800;
	padding: #{$s3}rem #{$s0}rem;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.customScrollBar {
	&::-webkit-scrollbar {
		width: 5px;
		background-color: $primary-700;
		border-radius: 100vmax;
		overflow: hidden;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $primary-500;
		border-radius: 100vmax;
	}

	@media (max-width: 800px) {
		&::-webkit-scrollbar {
			width: 2px;
		}
	}
}

h1 {
	color: $primary-100;
	font-size: #{$s3 + $s0}rem;
}

p {
	color: $primary-400;
	line-height: #{$s3}em;
	font-weight: $f-normal;
}

button {
	z-index: 5555;
	position: fixed;
	right: #{$s5}rem;
	bottom: #{$s2}rem;
	background-color: $primary;
	color: $white;
	padding: #{$s2}rem #{$s4}rem;
	font-family: inherit;
	border-radius: #{$s0}rem;
	cursor: pointer;
	border: none;
	outline: none;
}

.sr-only {
	position: absolute;
	visibility: hidden;
	left: -1000vmax;
	top: -1000vmax;
}
